.carregar{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.toolbar-cursos{
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #E91E63;
  color: white;
}

mat-card{
  max-width: 80%;
  margin: 2em auto;
  //align-items: center;
}

.colun-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}


